<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Activities | IIT Mandi</title>
	<meta name="description" content="Schedule of all events conducted by various clubs and societies of IIT Mandi">
    <meta name="keywords" content="iit mandi, gymkhana, students, clubs,">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
    <body>
        
        <div class="container">
          
            <div class="calendar light">
        
              <div class="calendar_header">
                <h2>Events</h2>
                <a href="/event/new/"> <div class="img__wrap">
                  <img src="/static/img/plus.png">
                  <div class="img__description">New!</div>
                </div></a>
                {% if " " in user %}
                <div class="img__logout">
                  <a href="/accounts/logout"> 
                  <img src="/static/img/logout.png" width="35px">
                  </a>
                </div>
                {% endif %}
                <br>
               </div>
               <br>
              <div class="calendar_events">
                
               {% for event in events %}
               {% if event.change %}
              <div class="calendar_plan">
              {% if event.day == date %}
                <div class="cl_plan">
                  <div class="cl_title">Today</div>
                </div>
              {% elif event.day == tomorrow %}
              <div class="cl_plan">
                  <div class="cl_title">Tomorrow</div>
              {% else %}
              <div class="cl_plan">
                  <div class="cl_title">Later</div>
              </div>
              {% endif %}
              </div>
              {% endif %}

                <div class="event_item">
                {% if event.start_time < time and event.day == date %}
                  <div class="ei_Dot dot_active"></div>
                {% else %}
                  <div class="ei_Dot"></div>
                {% endif %}
                  <div class="ei_Title">{{event.start_time|date:"G:i"}} to {{event.end_time|date:"G:i"}}</div>
                  <br>
                  <div class="ei_club"><strong>{{event.name}}</strong></div>
                  <div class="ei_Copy">{{event.club}}</div>
                  {% if event.club == user %}
                  <div class="ei_Del"><a href="{% url 'event_edit' pk=event.pk %}">(Edit)</a></div>
                  <div class="ei_Del"><a href="{% url 'event_delete' pk=event.pk %}" onclick="return confirm('Delete this Event?')">Delete</a></div>
                  {% endif %}
                  <div class="ei_Date">{{event.day}}</div>
                  <div class="ei_Venue">Venue: {{ event.venue|urlize }} </div>
                  
                  <!-- Button code -->
                  <div class="gCallink" style="position: absolute; bottom: 15px;right: 15px; max-width: 40%; font-size: 8px;">
                    <a target="_blank" rel="noopener noreferrer" href="{{ event.event_link }}">
                      <img src="../../static/img/calgicon.jpeg" alt="" style="width:35px;" />
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          
</body>
</html>
